<h1>Rspec Testing App</h1>
<h2>Complex Calculator</h2>
<%= form_tag(controller: "main", action: "calculate", method: "post") do %>
  <%= label_tag(:q, "Calculate:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Calculate") %>
<% end %>